4-13. Buffet: A buffet-style restaurant offers only five basic foods . Think of five simple foods, and store them in a tuple . •	Use a for loop to print each food the restaurant offers . •	Try to modify one of the items, and make sure that Python rejects the change . •	The restaurant changes its menu, replacing two of the items with different foods . Add a block of code that rewrites the tuple, and then use a for loop to print each of the items on the revised menu .

In [8]:
buffer_menu=["soup","salad","dessert","pizza","chicken"]
for item in buffer_menu:
  print(item)
  #buffer_menu[0]="bread" :couse error
  #modyfying the menu
  buffer_menu=["noodles","sweets"]
  for item in buffer_menu:
    print(item)

soup
noodles
sweets
salad
noodles
sweets
dessert
noodles
sweets
pizza
noodles
sweets
chicken
noodles
sweets

5-2. More Conditional Tests: You don’t have to limit the number of tests you create to 10 . If you want to try more comparisons, write more tests and add them to conditional_tests.py . Have at least one True and one False result for each of the following: •	Tests for equality and inequality with strings •	Tests using the lower() function •	Numerical tests involving equality and inequality, greater than and less than, greater than or equal to, and less than or equal to •	Tests using the and keyword and the or keyword •	Test whether an item is in a list •	Test whether an item is not in a list

In [16]:
name_1="sadeem"
name_2="shazain"
name_3="insha"

#equality ofstring

if (name_1 == name_3):
  print("equal!")
else:
  print("unequal!")

  #inequality of string
if(name_1==name_2):
  print("the name are unequal")
else:
  print("the names are equal")

#numerical tests

age_1=18
age_2=23

if(age_1==18):
  print("person is undergradguet")

if(age_1 !=23):
  print("persone cannot drink")
if(age_1 <= age_2):
  print("young")
if(age_2 >= age_1):
  print("older")

  #and/or key word test
if(age_1==18 and age_2>=23):
  print("person is eligible for vote")
if(age_1==18 and age_2==23):
  print("age difference five year")
#item in list or not

fruits=["apple","peach","apricote"]
if 'apple' in fruits:
  print("apple is present in fruits")

if 'banana' in fruits:
  print("bananan is not in fruits")

unequal!
the names are equal
person is undergradguet
persone cannot drink
young
older
person is eligible for vote
age difference five year
apple is present in fruits

4-11. My Pizzas, Your Pizzas: Start with your program from Exercise 4-1 (page 60) . Make a copy of the list of pizzas, and call it friend_pizzas . Then, do the following: •	Add a new pizza to the original list . •	Add a different pizza to the list friend_pizzas . •	Prove that you have two separate lists . Print the message, My favorite pizzas are:, and then use a for loop to print the first list . Print the message, My friend’s favorite pizzas are:, and then use a for loop to print the sec- ond list . Make sure each new pizza is stored in the appropriate list .

In [2]:
pizza_shabana=["deep disha","sclian","greek"]
friend_pizza=pizza_shabana[:]
pizza_shabana.append("viggie")
friend_pizza.append("chicken tikka")
print("My favorite pizzas are:")
for pizza in pizza_shabana:
  print(pizza)
  print("\n")
print("my friends favorite pizza are:")
for pizza in friend_pizza:
  print(pizza)

My favorite pizzas are:
deep disha


sclian


greek


viggie


my friends favorite pizza are:
deep disha
sclian
greek
chicken tikka